.cards--portfolio {
    .cards-content--portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 60px;
        @media (min-width: 768px) {
            & {
                padding-top: 30px;
                justify-content: flex-start;
            }
        }
        .card--portfolio {
            border: 1px solid #EEE;
            background: #FFF;
            position: relative;
            overflow: hidden;
            background-color: inherit;
            transition: box-shadow 0.3s ease;
            text-decoration: none;
            @media (min-width: 768px) {
                & {
                    height: 440px;
                    width: 354px;
                }
            }
            @media (min-width: 1200px) {
                & {
                    height: auto;
                    width: 354px;
                }
            }
            &:hover {
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
            }
            .card--overlay {
                position: relative;
                overflow: hidden;
                &__img {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                }
                .card--overlay__drop-menu {
                    color: #FFF;
                    font-family: 'Roboto';
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 155.556% */
                    letter-spacing: 0.54px;
                    padding: 20px 25px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(100%);
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    background: rgba(33, 150, 243, 0.9);
                    z-index: 2;
                    margin: 0px;
                    @media (min-width: 768px) {
                        & {
                            padding: 58px 25px;
                            font-size: 18px;
                        }
                    }
                    @media (min-width: 1200px) {
                        & {
                            padding: 65px 25px;
                            font-size: 18px;
                        }
                    }
                    &:hover {
                        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
                        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
                    }
                }
            }
            .card--content {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 24px 20px;
                position: relative;
                z-index: 3;
                &__title {
                    display: flex;
                    flex-wrap: wrap;
                    color: #212121;
                    font-family: 'Roboto';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px; /* 200% */
                    letter-spacing: 1.08px;
                    @media (min-width: 768px) {
                        & {
                            width: 306px;
                        }
                    }
                    @media (min-width: 1200px) {
                        & {
                            width: 322px;
                        }
                    }
                }
                &__description {
                    color: #757575;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 187.5% */
                    letter-spacing: 0.48px;
                }
            }
        }
        .card--portfolio:focus .card--overlay__drop-menu {
            transform: translateY(0);
            cursor: pointer;
        }
    }
}