.partners {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 1200px) {
        & {
            padding-bottom: 95px;
            padding-top: 95px;
        }
    }
    .partners-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        &__title {
            color: #212121;
            font-family: 'Roboto';
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.08px;
            @media (min-width: 1200px) {
                & {
                    font-size: 36px;
                }
            }
        }
        .clients {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            .client {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid #AFB1B8;
                width: 210px;
                height: 92px;
                @media (min-width: 768px) {
                    & {
                        width: 226px;
                        height: 92px;
                    }
                }
                @media (min-width: 1200px) {
                    & {
                        width: 170px;
                        height: 92px;
                    }
                }
                &:hover {
                    cursor: pointer;
                    border: 1px solid #2196F3;
                }
            }
        }
    }
}