.company {
    padding-top: 60px;
    padding-bottom: 60px;
    .company-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            @media (min-width: 768px) {
                & {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            @media (min-width: 1200px) {
                & {
                    height: 270px;
                }
            }
            .svg {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                background-color: #F5F4FA;
                padding-bottom: 20px;
                padding-top: 20px;
                width: 320px;
                @media (min-width: 768px) {
                    & {
                        padding: 25px 140px;
                        width: auto;
                    }
                }
                @media (min-width: 1200px) {
                    & {
                        padding: 20px 100px;
                        width: auto;
                    }
                }
            }
            &__title {
                color: #212121;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.42px;
                text-transform: uppercase;
            }
            &__description {
                color: #757575;
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
                letter-spacing: 0.42px;
                width: 320px;
                @media (min-width: 768px) {
                    & {
                        width: 354px;
                    }
                }
                @media (min-width: 1200px) {
                    & {
                        width: 270px;
                    }
                }
            }
        }
    }
}