.filters {
  padding-top: 60px;
  .filters-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .filter {
      border-radius: 4px;
      background: #f5f4fa;
      padding: 8px 20px;
      text-decoration: none;
      color: #212121;
      font-family: 'Roboto';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 162.5% */
      letter-spacing: 0.48px;
      transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: white;
        border-radius: 4px;
        background-color: #2196f3;
        box-shadow:
          0px 3px 1px 0px rgba(0, 0, 0, 0.1),
          0px 1px 2px 0px rgba(0, 0, 0, 0.08),
          0px 2px 2px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
