@import './header';
@import './footer';
@import './main/main-styles';

body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 320px;
    padding: 0px 15px;
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 480px) {
    .container {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.solid_menu {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .burger-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 15px 48px 40px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04),
      0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: start;
    }
    &__close-img {
      width: 40px;
      height: 40px;
    }
    &__nav {
      margin-top: 48px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &__link {
      color: black;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.8px;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: #2196F3;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: 64px;
    }
    &__contact-list {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &__contact-link {
      color: black;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: #2196F3;
      }
    }
    &__social-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      @media (min-width: 480px) {
        & {
            display: flex;
            flex-direction: row;
        }
      }
    }
    &__socials-link {
      color: black;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 122.222% */
      letter-spacing: 0.36px;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: #2196F3;
      }
    }
    &__social-lines {
      width: 1px;
      height: 22px;
      background: rgba(33, 33, 33, 0.2);
      @media (max-width: 479px) {
        & {
            display: none;
        }
      }
    }
  }
  .burger-menu-active {
    color: black;
  }
  .bm--iris {
    color: black;
  }
  .burger-menu.is-open {
    transform: translate(0);
  }
  .icon-close-burger-menu {
    border: none;
    background: none;
  }
  