.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon {
  fill: #2196f3;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-group {
  width: 70px;
  height: 70px;
  fill: #afb1b8;
}

.icon-box {
  width: 100px;
  height: 60px;
  fill: #afb1b8;
}

.icon-brand {
  width: 100px;
  height: 60px;
  fill: #afb1b8;
}

.icon-foster {
  width: 100px;
  height: 60px;
  fill: #afb1b8;
}

.icon-apple {
  width: 100px;
  height: 60px;
  fill: #afb1b8;
}

.icon-company {
  width: 100px;
  height: 60px;
  fill: #afb1b8;
}

.icon-union {
  width: 60px;
  height: 60px;
  fill: #afb1b8;
}

.icon-man {
  width: 100px;
  height: 60px;
}

.icon-pc {
  width: 1.33984375em;
}

.icon-clock {
  width: 70px;
  height: 70px;
}

.icon-air {
  width: 70px;
  height: 70px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.link:hover .icon-envelope {
  fill: #2196f3;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.icon-diagram {
  width: 70px;
  height: 70px;
}

.icon-close-black {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-port {
  padding: 15px 16px;
  transition: background-color 0.3s ease;
  border-radius: 100%;
}

.link-port:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.icon-instagram {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icon-twitter {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icon-facebook {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icon-facebook {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.icon-linkedin2 {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.link-port:hover .icon-twitter {
  fill: white;
}

.link-port:hover .icon-instagram {
  fill: white;
}

.link-port:hover .icon-facebook {
  fill: white;
}

.link-port:hover .icon-linkedin2 {
  fill: white;
}

.icon-close-box-styles:hover .icon-close-black {
  fill: #2196f3;
  cursor: pointer;
}

.icon-menu {
  width: 40px;
  height: 40px;
}

.icon-pc {
  width: 70px;
  height: 70px;
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}

.icon-instagram-footer {
  fill: white;
  width: 20px;
  height: 20px;
}

.icon-twitter-footer {
  fill: white;
  width: 20px;
  height: 20px;
}

.icon-facebook-footer {
  fill: white;
  width: 20px;
  height: 20px;
}

.icon-linkedin2-footer {
  fill: white;
  width: 20px;
  height: 20px;
}

.icon-icon-send {
  height: 24px;
  width: 24px;
}

.icon-close-black:nth-child(1) {
  height: 40px;
  width: 40px;
}

.icon-close-black-modal {
  width: 20px;
  height: 20px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-box-styles:hover .icon-close-black-modal {
  fill: #188ce8;
}
