.footer--portfolio {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
  .footer-content--portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    @media (min-width: 768px) {
      & {
        gap: 0px;
      }
    }
    .logo-links {
      gap: 60px;
      @media (min-width: 768px) {
        & {
          display: flex;
          gap: 200px;
        }
      }
      @media (min-width: 1200px) {
        & {
          display: flex;
          gap: 60px;
        }
      }
      .logo-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        @media (min-width: 1200px) {
          & {
            align-items: flex-start;
          }
        }
        &--footer {
          display: flex;
          align-items: center;
          &__web {
            color: #2196f3;
            font-family: 'Raleway', sans-serif;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 3%;
            @media (min-width: 768px) {
              & {
                font-size: 24px;
              }
            }
          }
          &__webstudio {
            font-family: 'Raleway', sans-serif;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: 3%;
            color: white;
            @media (min-width: 768px) {
              & {
                font-size: 24px;
              }
            }
          }
        }
        .address {
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 10px;
          font-style: normal;
          @media (min-width: 1200px) {
            & {
              align-items: flex-start;
            }
          }
          .adress__bulvar {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            text-decoration: none;
            &:hover {
              color: #2196f3;
            }
          }
          .links-footer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__item {
              color: rgba(255, 255, 255, 0.6);
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 171.429% */
              letter-spacing: 0.42px;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              text-decoration: none;
              &:hover {
                color: #2196f3;
              }
            }
          }
        }
      }
      .links-content--portfolio {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10px;
        gap: 20px;
        @media (min-width: 1200px) {
          & {
            align-items: flex-start;
          }
        }
        .links-content__title--portfolio {
          color: #fff;
          font-family: 'Roboto';
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.42px;
          text-transform: uppercase;
          margin: 0px;
        }
        .links-soc--portfolio {
          display: flex;
          align-items: center;
          gap: 10px;
          .link-soc--portfolio {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 12px 12px 12px 12px;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
              background-color: #2196f3;
              cursor: pointer;
            }
          }
        }
      }
    }
    .form-content--portfolio {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      @media (min-width: 768px) {
        & {
          padding-top: 60px;
          padding-left: 60px;
        }
      }
      @media (min-width: 1200px) {
        & {
          padding-top: 10px;
          padding-left: 60px;
          align-items: flex-start;
        }
      }
      gap: 20px;
      .form-content__title--portfolio {
        color: #fff;
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin: 0px;
      }
      .form--portfolio {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        @media (min-width: 1200px) {
          & {
            flex-direction: row;
            gap: 12px;
          }
        }
        .form__input-title--portfolio {
          .form__input--portfolio {
            outline: none;
            color: rgba(255, 255, 255, 0.6);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            letter-spacing: 0.48px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(33, 150, 243, 0);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            padding: 15px 200px 15px 15px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 320px;
            @media (min-width: 768px) {
              & {
                width: auto;
              }
            }
            &::placeholder {
              color: rgba(255, 255, 255, 0.6);
              font-family: 'Roboto';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 125% */
              letter-spacing: 0.48px;
            }
            &:focus {
              color: #2196f3;
            }
          }
        }
        .button-send--portfolio {
          display: flex;
          align-items: center;
          color: #fff;
          font-family: 'Roboto';
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px; /* 187.5% */
          letter-spacing: 0.96px;
          padding: 10px 28px 10px 28px;
          gap: 10px;
          border-radius: 4px;
          background-color: #2196f3;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          border: none;
          transition: color 0.3s ease;
          &:hover {
            cursor: pointer;
            color: black;
          }

          .button-send--img {
            fill: white;
            transition: fill 0.3s ease;
          }

          &:hover .button-send--img {
            fill: black;
          }
        }
      }
    }
  }
}
