.header--portfolio {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .header--portfolio {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.header--portfolio .header-content--portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--portfolio .header-content--portfolio .logo-nav--portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header--portfolio .header-content--portfolio .logo-nav--portfolio {
    gap: 90px;
  }
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .header-logo
  .web {
  color: #2196f3;
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .header-logo
  .webstudio {
  color: #212121;
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .nav-bar--portfolio {
  display: none;
}
@media (min-width: 768px) {
  .header--portfolio
    .header-content--portfolio
    .logo-nav--portfolio
    .nav-bar--portfolio {
    display: flex;
    align-items: center;
    gap: 56px;
  }
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .nav-bar--portfolio
  .nav-bar__item--portfolio {
  color: #212121;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .nav-bar--portfolio
  .nav-bar__item--portfolio:hover {
  color: #2196f3;
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .nav-bar--portfolio
  .nav-bar__item--portfolio:hover::before {
  width: 100%;
  left: 0;
}
.header--portfolio
  .header-content--portfolio
  .logo-nav--portfolio
  .nav-bar--portfolio
  .nav-bar__item--portfolio::before {
  content: '';
  position: absolute;
  width: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transition:
    width 0.3s ease,
    left 0.3s ease;
  margin-top: 32px;
}
.header--portfolio .header-content--portfolio .header-links {
  display: none;
}
@media (min-width: 768px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .header--portfolio .header-content--portfolio .header-links {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
  }
}
.header--portfolio .header-content--portfolio .header-links__item {
  color: #757575;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header--portfolio .header-content--portfolio .header-links__item:hover {
  color: #2196f3;
}
.header--portfolio
  .header-content--portfolio
  .header-links__item:hover
  .header-links__item--svg {
  fill: #2196f3;
}
@media (min-width: 768px) {
  .header--portfolio .header-content--portfolio .adaptive-link--portfolio {
    display: none;
  }
}

.footer--portfolio {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--portfolio .footer-content--portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media (min-width: 768px) {
  .footer--portfolio .footer-content--portfolio {
    gap: 0px;
  }
}
.footer--portfolio .footer-content--portfolio .logo-links {
  gap: 60px;
}
@media (min-width: 768px) {
  .footer--portfolio .footer-content--portfolio .logo-links {
    display: flex;
    gap: 200px;
  }
}
@media (min-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-links {
    display: flex;
    gap: 60px;
  }
}
.footer--portfolio .footer-content--portfolio .logo-links .logo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .logo-links .logo-list {
    align-items: flex-start;
  }
}
.footer--portfolio .footer-content--portfolio .logo-links .logo-list--footer {
  display: flex;
  align-items: center;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list--footer__web {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
}
@media (min-width: 768px) {
  .footer--portfolio
    .footer-content--portfolio
    .logo-links
    .logo-list--footer__web {
    font-size: 24px;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list--footer__webstudio {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  color: white;
}
@media (min-width: 768px) {
  .footer--portfolio
    .footer-content--portfolio
    .logo-links
    .logo-list--footer__webstudio {
    font-size: 24px;
  }
}
.footer--portfolio .footer-content--portfolio .logo-links .logo-list .address {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-style: normal;
}
@media (min-width: 1200px) {
  .footer--portfolio
    .footer-content--portfolio
    .logo-links
    .logo-list
    .address {
    align-items: flex-start;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list
  .address
  .adress__bulvar {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list
  .address
  .adress__bulvar:hover {
  color: #2196f3;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list
  .address
  .links-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list
  .address
  .links-footer__item {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .logo-list
  .address
  .links-footer__item:hover {
  color: #2196f3;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .links-content--portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer--portfolio
    .footer-content--portfolio
    .logo-links
    .links-content--portfolio {
    align-items: flex-start;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .links-content--portfolio
  .links-content__title--portfolio {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .links-content--portfolio
  .links-soc--portfolio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .links-content--portfolio
  .links-soc--portfolio
  .link-soc--portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer--portfolio
  .footer-content--portfolio
  .logo-links
  .links-content--portfolio
  .links-soc--portfolio
  .link-soc--portfolio:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.footer--portfolio .footer-content--portfolio .form-content--portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    padding-top: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .footer--portfolio .footer-content--portfolio .form-content--portfolio {
    padding-top: 10px;
    padding-left: 60px;
    align-items: flex-start;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form-content__title--portfolio {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0px;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer--portfolio
    .footer-content--portfolio
    .form-content--portfolio
    .form--portfolio {
    flex-direction: row;
    gap: 12px;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .form__input-title--portfolio
  .form__input--portfolio {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 200px 15px 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 320px;
}
@media (min-width: 768px) {
  .footer--portfolio
    .footer-content--portfolio
    .form-content--portfolio
    .form--portfolio
    .form__input-title--portfolio
    .form__input--portfolio {
    width: auto;
  }
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .form__input-title--portfolio
  .form__input--portfolio::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .form__input-title--portfolio
  .form__input--portfolio::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .form__input-title--portfolio
  .form__input--portfolio:focus {
  color: #2196f3;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .button-send--portfolio {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  gap: 10px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: color 0.3s ease;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .button-send--portfolio:hover {
  cursor: pointer;
  color: black;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .button-send--portfolio
  .button-send--img {
  fill: white;
  transition: fill 0.3s ease;
}
.footer--portfolio
  .footer-content--portfolio
  .form-content--portfolio
  .form--portfolio
  .button-send--portfolio:hover
  .button-send--img {
  fill: black;
}

.filters {
  padding-top: 60px;
}
.filters .filters-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.filters .filters-content .filter {
  border-radius: 4px;
  background: #f5f4fa;
  padding: 8px 20px;
  text-decoration: none;
  color: #212121;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filters-content .filter:hover {
  color: white;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow:
    0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.cards--portfolio .cards-content--portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .cards--portfolio .cards-content--portfolio {
    padding-top: 30px;
    justify-content: flex-start;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio {
  border: 1px solid #eee;
  background: #fff;
  position: relative;
  overflow: hidden;
  background-color: inherit;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}
@media (min-width: 768px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio {
    height: 440px;
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .cards--portfolio .cards-content--portfolio .card--portfolio {
    height: auto;
    width: 354px;
  }
}
.cards--portfolio .cards-content--portfolio .card--portfolio:hover {
  box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--overlay {
  position: relative;
  overflow: hidden;
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio
  .card--overlay__img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio
  .card--overlay
  .card--overlay__drop-menu {
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 20px 25px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  z-index: 2;
  margin: 0px;
}
@media (min-width: 768px) {
  .cards--portfolio
    .cards-content--portfolio
    .card--portfolio
    .card--overlay
    .card--overlay__drop-menu {
    padding: 65px 25px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .cards--portfolio
    .cards-content--portfolio
    .card--portfolio
    .card--overlay
    .card--overlay__drop-menu {
    padding: 65px 25px;
    font-size: 18px;
  }
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio
  .card--overlay
  .card--overlay__drop-menu:hover {
  box-shadow:
    1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cards--portfolio .cards-content--portfolio .card--portfolio .card--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 20px;
  position: relative;
  z-index: 3;
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio
  .card--content__title {
  display: flex;
  flex-wrap: wrap;
  color: #212121;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}
@media (min-width: 768px) {
  .cards--portfolio
    .cards-content--portfolio
    .card--portfolio
    .card--content__title {
    width: 306px;
  }
}
@media (min-width: 1200px) {
  .cards--portfolio
    .cards-content--portfolio
    .card--portfolio
    .card--content__title {
    width: 322px;
  }
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio
  .card--content__description {
  color: #757575;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.cards--portfolio
  .cards-content--portfolio
  .card--portfolio:focus
  .card--overlay__drop-menu {
  transform: translateY(0);
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 320px;
  padding: 0px 15px;
  margin: 0px auto;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 480px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .solid_menu {
    display: none;
  }
}

.burger-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 15px 48px 40px;
  background: #fff;
  box-shadow:
    0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-menu__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
.burger-menu__close-img {
  width: 40px;
  height: 40px;
}
.burger-menu__nav {
  margin-top: 48px;
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.burger-menu__link {
  color: black;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.burger-menu__link:hover {
  color: #2196f3;
}
.burger-menu__bottom {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.burger-menu__contact-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.burger-menu__contact-link {
  color: black;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.burger-menu__contact-link:hover {
  color: #2196f3;
}
.burger-menu__social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (min-width: 480px) {
  .burger-menu__social-list {
    display: flex;
    flex-direction: row;
  }
}
.burger-menu__socials-link {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.burger-menu__socials-link:hover {
  color: #2196f3;
}
.burger-menu__social-lines {
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
}
@media (max-width: 479px) {
  .burger-menu__social-lines {
    display: none;
  }
}

.burger-menu-active {
  color: black;
}

.bm--iris {
  color: black;
}

.burger-menu.is-open {
  transform: translate(0);
}

.icon-close-burger-menu {
  border: none;
  background: none;
}
