.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-group {
  width: 65.32px;
  height: 70px;
}

@media (max-width) {
  .icon-group {
    width: 354px;
    height: 120px;
  }
}

.icon-clock {
  width: 65.32px;
  height: 70px;
}

.icon-diagram {
  width: 65.32px;
  height: 70px;
}

.icon-astronaut {
  width: 65.32px;
  height: 70px;
}

.icon-box {
  width: 2.13671875em;
}

.icon-brand {
  width: 1.369140625em;
}

.icon-foster {
  width: 2.0732421875em;
}

.icon-apple {
  width: 1.0732421875em;
}

.icon-company {
  width: 0.76953125em;
}

.icon-union {
  width: 1.0517578125em;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.link-port {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.link-port:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.link-port:hover .icon-instagram {
  fill: white;
}

.link-port:hover .icon-twitter {
  fill: white;
  cursor: pointer;
}

.link-port:hover .icon-facebook {
  fill: white;
  cursor: pointer;
}

.link-port:hover .icon-linkedin2 {
  fill: white;
  cursor: pointer;
}

.icon-instagram {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon-twitter {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon-facebook {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon-linkedin2 {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.icon-union {
  fill: #AFB1B8;
  width: 41px;
  height: 38.81px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-union {
  fill: #2196F3;
}

.icon-company {
  fill: #AFB1B8;
  width: 40px;
  height: 52px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-company {
  fill: #2196F3;
} 

.icon-apple {
  fill: #AFB1B8;
  width: 43.46px;
  height: 41.18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-apple {
  fill: #2196F3;
} 

.icon-foster {
  fill: #AFB1B8;
  width: 84.44px;
  height: 40.62px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-foster {
  fill: #2196F3;
}

.icon-brand {
  fill: #AFB1B8;
  width: 62.54px;
  height: 45.43px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-brand {
  fill: #2196F3;
}

.icon-box {
  fill: #AFB1B8;
  width: 93.79px;
  height: 43.93px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .icon-box {
  fill: #2196F3;
}

.icon-instagram-footer {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

.icon-twitter-footer {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

.icon-facebook-footer {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

.icon-linkedin2-footer {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

.link-footer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover {
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  transition: 0.3s ease;
}